name: Daily Weather Pipeline

on:
  schedule:
    - cron: '0 8 * * *'
  workflow_dispatch:

jobs:
  run_pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Authenticate to Google Cloud
        id: auth
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_SERVICE_ACCOUNT_JSON }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Libraries
        run: |
          pip install pandas google-cloud-bigquery requests db-dtypes dbt-bigquery

      - name: Run Extract Script
        env:
          GOOGLE_APPLICATION_CREDENTIALS: ${{ steps.auth.outputs.credentials_file_path }}
        run: python extract.py

      - name: Run dbt
        run: |
          cd weather_transform
          dbt deps
          dbt run --profiles-dir .